<div class="container">
  <div class="left-radius"></div>
  <div class="right-radius"></div>
  <div class="bottom-radius"></div>
  <div>
    <div class="main">
      <form class="box" action="index.html" method="post" (ngSubmit)="userlogin()">
        <h2>Recover Password</h2>
        <p>Hello, User</p>
        <p>Plaese Recover Your Password</p>
        <input type="text" [(ngModel)]="login.userName" name="" placeholder="Enter User Code" id="userName"
          name="userName">
        <input type="password" [(ngModel)]="login.passWord" placeholder="Enter Mobile Number" id="passWord"
          name="passWord">
        <button type="submit" name="" value="Login">RECOVER</button>
      </form>
    </div>
  </div>
</div>
