
.container{
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  overflow: inherit;
}
.left-radius{
  width: 400px;
  height: 400px;
    background: #fee267;
    border-radius: 50%;
    margin: -96px 0px 0px -378px
    
}
.right-radius{
  width: 84px;
  height: 100px;
  background: #fee267;
  margin: -120px 0px 0px 1820px;
  border-radius: 70px 50px 50px 70px;
  position: absolute;
  left: 15px;
}
.bottom-radius{
    width: 500px;
    height: 250px;
    background: #0fbe9b;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
    margin: 400px 0px 0px 1350px;
    position: absolute;
    bottom:  0px;
    left: 5px; 
}

.box{
  width: 581px;
  height: 577px;
  padding: 130px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #ffffff;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .h2, h2 {
    
    font-size: 2rem;
    padding-bottom: 32px;
    margin-top: -51px;
    color: #020202;
    font-weight: 700;
}
  .box input[type = "text"]{
    border:0;
    background: none;
    display: block;
    margin: 41px 7px 23px 26px;
    text-align: center;
    border: 2px solid #fee470;
    padding: 14px 10px;
    width: 272px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
  }
  .box button[type = "submit"]{
    border:0;
    background-color: #fee267;
    display: block;
    margin: 43px  auto;
    text-align: center;
    width: 272px;
    padding: 14px 40px;
    outline: none;
    color: #19160a;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    font-weight: 700;
  }
  p {
    margin-top: -17px;
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: larger;
}
.box input[type = "password"]{
  border:0;
    background: none;
    display: block;
    margin: -7px 3px 4px 26px;
    text-align: center;
    border: 2px solid #fee470;
    padding: 14px 10px;
    width: 272px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
}
::placeholder{
  color: #bfc9cf;
}